@media screen and (max-width: 576px) {
  /* shared style */
  .container {
    width: 95%;
  }
  .section-heading {
    font-size: 1.2rem;
  }
  /* nav section */
  nav {
    padding: 10px;
  }
  nav .logo-img h2 {
    font-size: 1.7rem;
  }
  nav .hamburger-icon {
    display: block;
  }
  nav ul {
    display: none;
  }

  /* banner section */
  .banner-content {
    padding: 32px 15px;
  }
  .banner-content h1 {
    font-size: 1.3rem;
  }
  .banner-content p {
    font-size: 0.9rem;
    line-height: 21px;
    max-width: 304px;
  }
  .banner-content form {
    flex-direction: column;
    margin: 0;
  }
  .banner-content form input[type="text"],
  select {
    width: 100%;
  }
  .banner-btn {
    width: 100%;
  }
  .banner-btn .btn {
    width: 100%;
  }

  /* tours section */
  .tours-area {
    padding: 24px 6px;
    flex-direction: column;
  }

  .tours-content p,
  .tours-content .tours-description-list {
    font-size: 0.9rem;
  }
  .tours-img img {
    width: 100%;
  }

  /* destination section */
  .destination-heading p,
  .choose-section-heading p {
    line-height: 24px;
    font-size: 0.9rem;
    max-width: 300px;
    margin: 16px auto;
  }
  .destination-place {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
  .destination-img img {
    width: 100%;
  }

  /* choose section */
  .choose-section {
    padding: 24px 20px;
  }
  .choose-content-cards-1 {
    flex-direction: column;
  }
  .card img {
    width: 48px;
    height: 48px;
  }
  .card h4 {
    font-size: 1.2rem;
  }
  .card p {
    font-size: 0.9rem;
    line-height: 24px;
  }
}
