@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
  /* nav section */
  nav {
    padding: 10px;
  }
  nav .logo-img h2 {
    font-size: 1.7rem;
  }
  nav .hamburger-icon {
    display: block;
  }
  nav ul {
    display: none;
  }

  /* banner section */
  .banner-content {
    padding: 32px 15px;
  }
  .banner-content h1 {
    font-size: 1.3rem;
  }
  .banner-content p {
    font-size: 0.9rem;
    line-height: 21px;
    max-width: 304px;
  }
  .banner-content form {
    flex-direction: column;
    margin: 0;
  }
  .banner-content form input[type="text"],
  select {
    width: 100%;
  }
  .banner-btn {
    width: 100%;
  }
  .banner-btn .btn {
    width: 100%;
  }
}
