@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
/* shared style */
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.section-heading {
  font-size: 2.5rem;
  color: #131318;
  font-weight: 800;
}
.btn {
  background-color: #ff5400;
  padding: 14px 35px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
/* navbar section */
nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo-img {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav .logo-img h2 {
  font-size: 2.2rem;
  font-weight: 900;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav ul li {
  list-style: none;
  position: relative;
}
nav ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.1rem;
  transition: all 0.3s;
  position: relative;
}
nav ul li a::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  content: "";
  height: 3px;
  background-image: linear-gradient(to left, #ff4852, #4476ff);
  transition: 0.3s;
}
nav ul li a:hover {
  color: #ff5400;
}
nav ul li a.active:hover {
  color: #424247;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li a.active {
  color: #ff5400;
}

nav .hamburger-icon {
  display: none;
}

/* Banner section */

.banner-section {
  background-image:
    linear-gradient(to bottom, rgba(19, 19, 24, 1), rgba(19, 19, 24, 0)),
    url("../assets/img/group-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  border-radius: 8px;
}
.banner-content {
  text-align: center;
  padding: 106px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-content h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #fff;
}
.banner-content p {
  font-size: 1rem;
  color: #fff;
  line-height: 26px;
  max-width: 676px;
  margin: 0 auto;
}
.banner-content form {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.219);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
}
.banner-content form input[type="text"],
select {
  padding: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}
.banner-content form select {
  color: rgba(19, 19, 24, 0.5);
}
.banner-content form input::placeholder {
  color: rgba(19, 19, 24, 0.5);
}

.banner-btn .find-now {
  transition: all 0.3s;
}
.banner-btn .find-now:hover {
  background-color: #837f7f;
  color: #f1bb24;
}

/* tours section */
.tours-area {
  padding: 100px 0;
  display: flex;
  gap: 50px;
}
.tours-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tours-content p {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
  font-size: 1rem;
}
.tours-content p:nth-child(4) {
  color: #5a5a5d;
}
.tours-content .tours-description-list {
  padding-left: 20px;
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
  font-size: 1rem;
  max-width: 525px;
}
.tours-content .tours-description-list li {
  margin: 10px 0;
}

/* destination section */
.destination-heading {
  text-align: center;
}
.destination-heading p {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
  font-size: 1rem;
  max-width: 640px;
  margin: 24px auto 48px;
}

.destination-place {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 2fr);
  gap: 24px;
}
.destination-img:nth-child(1) {
  grid-column: 1/7;
  grid-row: 1/2;
}
.destination-img:nth-child(2) {
  grid-column: 7/13;
  grid-row: 1/2;
}
.destination-img:nth-child(3) {
  grid-column: 1/5;
  grid-row: 2/3;
}
.destination-img:nth-child(4) {
  grid-column: 5/10;
  grid-row: 2/3;
}
.destination-img:nth-child(5) {
  grid-column: 10/13;
  grid-row: 2/3;
}
.destination-img:nth-child(6) {
  grid-column: 1/6;
  grid-row: 3/4;
}
.destination-img:nth-child(7) {
  grid-column: 6/13;
  grid-row: 3/4;
}
.destination-img {
  position: relative;
}
.destination-img h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/* choose section */
.choose-section {
  padding: 100px 0;
}
.choose-section-heading {
  text-align: center;
}
.choose-section-heading p {
  max-width: 640px;
  margin: 24px auto 48px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  line-height: 26px;
}
.choose-content-cards-1 {
  display: flex;
  gap: 24px;
}
.choose-content-cards-1 .card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card p {
  font-size: 1rem;
  line-height: 26px;
  color: #5a5a5d;
}
.card h4 {
  font-size: 1.5rem;
  color: #131318;
  font-weight: 800;
}
.card img {
  width: 64px;
  height: 64px;
}
.choose-content-cards-1 .card:nth-child(1) {
  border: 1px solid rgba(230, 131, 19, 0.2);
  border-radius: 16px;
}
.choose-content-cards-1 .card:nth-child(2) {
  border: 1px solid rgba(15, 195, 240, 0.2);
  border-radius: 16px;
}
.choose-content-cards-2 {
  max-width: 600px;
  margin: 24px auto 0;
}
.choose-content-cards-2 .card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.choose-content-cards-2 .card {
  border: 1px solid rgba(233, 68, 68, 0.2);
  border-radius: 16px;
}
