@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo-img {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav .logo-img h2 {
  font-size: 2.2rem;
  font-weight: 900;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.1rem;
}

nav ul li a.active {
  color: #ff5400;
}
